<li>
    <div class="row-header">
        <input type="hidden" name="row-id[]" class="row-id" value="<%= id %>" />
        <label><%= title %></label>
        <button type="button" class="dropdown">show/hide</button>
        <input type="checkbox"" />
    </div>
    <div class="row-info"></div>
</li>
