<%#= Custom file %>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">
  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span>Show Filters <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>
    </button>
  </div>
  <div id="facet-panel-collapse" class="collapse panel-group">
    <%= render 'search_form', presenter: @presenter, url: hyrax.collection_path(@presenter.id) %>
    <%= render_facet_partials %>
  </div>
</div>
<% end %>