<% solr_response ||= @response %>
<% page_param_name ||= :page %>
<% if solr_response.total_pages > 1 %>
    <div class="row">
      <%= paginate solr_response, outer_window: 2, theme: 'ucsc', param_name: page_param_name %>
    </div><!-- /pager -->
<% end %>