<%#= Customized from Hyrax 2.4.0 %>
<% provide :page_title, construct_page_title(@presenter.title) %>
<%#= Removed hyc-* classes here and throughout %>
<div itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row">
    <div class="col-md-12">

      <% if @subcollection_count > 0 %>
        <%= render 'show_collection_with_subcollections.html.erb' %>
      <% else %>
        <%= render 'show_collection_without_subcollections.html.erb' %>
      <% end %>

    </div>
  </div>
</div>
