<ol id="featured_collections">
    <% collections.each do |collection| %>

        <li class="featured-item" data-id="<%= collection.id %>">
            <div class="main row">
                <div class="col-sm-3">
                    <%= render_thumbnail_tag collection, { width: 200 } %>
                </div>
                <div class="col-sm-9">
                    <%= render 'featured_fields', featured: collection %>
    </div>
  </div>
</li>
    <% end %>
</ol>
