<h3>
  <span class="sr-only">Title</span>
  <%= truncate(featured.title.first, length: 128, separator: ' ') %>
</h3>
<div>
  <span class="sr-only">File type</span>
  <%= link_to_facet_list(featured.resource_type, 'resource_type', '') %>
</div>
<div>
  <span class="sr-only">Keywords</span>
  <%= link_to_facet_list(featured.keyword, 'keyword', '') %>
</div>
