<%#= Customized from Hyrax 2.4.0 %>
<%#= File is completely overhauled %>
<h3>
  <span class="sr-only">Title</span>
  <%= truncate(featured.title.first, length: 128, separator: ' ') %>
</h3>
<% if featured.human_readable_type.to_s.downcase.include?("course") && featured.creator.present? %>
  <div class="subtitle">
   <%= " Lectures by #{featured.creator.first}" %>
  </div>
<% end %>
<div>
  <%= featured.description.first %>
</div>
<div>
    <span class="sr-only">Date Created</span>
    <%= featured.date_created.first %>
</div>
