<p id="splash-message">The UC Santa Cruz University Library Digital Media Collection site contains digitized audio and video materials and select image collections from the Special Collections and Archives department.<br>
    <a href="http://digitalcollections.ucsc.edu/"> Visit our Digital Collections site for more images and oral histories.</a>
</p>

<div class="col-xs-12 col-sm-12">
    <div id="explore_collections_container" >
        <%= render 'explore_collections', collections: @presenter.collections %>
    </div>
</div>

<div class="col-xs-12 col-sm-12">
    <div id="featured_container" >
        <%= render 'featured_works' %>
    </div>

</div>

