<p id="splash-message">The UC Santa Cruz University Library Digital Media Collection site contains digitized audio and video materials from the Special Collections and Archives department.<br>
    <a href="http://digitalcollections.ucsc.edu/"> Visit our Digital Collections site for images and oral histories.</a>
</p>

<div class="col-xs-12 col-sm-12">
    <div id="featured_container" >
        <%= render 'featured_works' %>
    </div>
</div>

