<%#= Customized from Hyrax 2.4.0 %>
<%#= An almost complete overhaul %>
<div class="col-xs-12 col-sm-12">
    <div id="explore_collections_container" >
        <%= render 'explore_collections', collections: @presenter.collections %>
    </div>
</div>

<div class="col-xs-12 col-sm-12">
    <div id="featured_container" >
        <%= render 'featured_works' %>
    </div>

</div>

