<h2>Edit Grouping for Bulk Update: "<%= @operation.name  %>"</h2>
<p>Add and remove works from this group to indicate which works you want to update. The group will be saved even if you log out. Take your time and get the right group of works; it is harder to change later.</p>
<%= render "update_draft_work_list"  %>
<%= render "update_draft_work_search"  %>
<form action="finalize_draft">
    <input type="hidden" name="operation_id" value="<%=@operation.id%>"
    <input type="submit" value="Create Bulk Update from This Group" />
</form>
<form action="delete">
    <input type="submit" value="Delete Bulk Update Grouping" />
</form>
up
