<form id="export-operation" action="<%=@operation.id%>/csv">
    <input type="submit" value="Download spreadsheet file to edit" />
</form>

<form id="edit-operation" action="<%=operation.id%>/edit">
    
    <div id="spreadsheet-input">
        <label>Upload New Spreadsheet Version</label>
        <input type=file name="metadata_spreadsheet" />
    </div>

    <% render "#{@operation.operation_type}_options" %>

    <input type="submit" value="Save Changes" />
</form>

<form id="delete-operation" action="<%=operation.id%>/delete">
    <input type="submit" value="Cancel and delete this entire bulk <%= @operation.operation_type %>" />
</form>

