<% presenter.title.each_with_index do |title, index| %>
    <h1><%= title %></h1>
<% end %>
<h3><%= presenter.parent_course.title_or_label unless presenter.parent_course.nil?%>
    <%= " ("+ presenter.parent_course.date_created.first + ")" unless presenter.parent_course.nil? or presenter.parent_course.date_created.empty? %></h3>
