<%#= Custom file %>
<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1><%= t("hyrax.lectures.update.header") %></h1>
<% end %>

<% workflow = Hyrax::WorkflowPresenter.new(SolrDocument.new(Lecture.find(params['id']).to_solr), current_ability) %>

<!-- 

I want to add a special alert here depending on the workflow state
but the presenter is not defined here! It seems like it is only defined in the "show" page (presenters are public facing I guess). I will have to see how to pull the workflow functionality out of the show presenter.

-->

<%= render 'form' %>
