<%#= Customized from Hyrax 2.9.0 
   # Entirely rewritten  %>
<footer>
  <div class="row">
    <div class="col-sm-6">
      <p>1156 High Street &middot; Santa Cruz, CA &middot; 95064</p>
      <p><a href="#" data-toggle="modal" data-target="#feedbackModal">Feedback</a></p>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><a href="https://guides.library.ucsc.edu/digitalcollections/policies#Accessibility">Accessibility Policy</a></li>
        <li><a href="https://guides.library.ucsc.edu/digitalcollections/policies">Takedown Policy</a></li>
        <li><a href="https://guides.library.ucsc.edu/speccoll/reproduction-publication">Reproduction &amp; Use</a></li>
      </ul>
    </div>
    <div class="col-sm-3 last">
      <ul>
        <% if !user_signed_in? %>
          <li>
            <%= link_to main_app.new_user_session_path do %><%= t("Digital Collections Login") %><% end %>
          </li>
        <% end %>
        <li><a href="https://guides.library.ucsc.edu/digitalcollections">About the UCSC Digital Collections</a></li>
        <li><a href="https://github.com/UCSCLibrary">UCSC Library GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="feedbackLabel">Digital Collections Feedback</h4>
        <div id="s-la-widget-feedback-6282"></div>
      </div>
    </div>
  </div>
</div>
