<footer class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>Software based on <a href="http://samvera.org/" class="navbar-link" target="_blank">Samvera</a>.</p>
        <p>Hyrax v<%= Hyrax::VERSION %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p>A service of <a style="margin-right:25px" href="http://library.ucsc.edu/" class="navbar-link" target="_blank">UC Santa Cruz Library.</a>  
            <%= link_to t(:'hyrax.pages.tabs.terms_page'), hyrax.terms_path %>
        </p>
        <p><%= t('hyrax.footer.copyright_html') %></p>
      </div>
    </div>
  </div>
</footer>
