<li>
    <div class="row-header">
        <!-- <input type="hidden" name="row-id[]" class="row-id" value="<%= id %>" />  -->
        <label><%= title %></label>
        <button type="button" data-row-id="<%= id %>" class="dropdown">show/hide</button>
        <input type="checkbox" name="row-id[]" value="<%= id %>"/>
    </div>
    <div class="row-info"></div>
</li>
