<div id="github-widget">
    
    <% if !authenticated_in_github %>

        <p>You are logged in to Github as <%= github_username %> </p>

        <button id="github-logout">Log out</button>

    <% else %>

        <div class="alert alert-warning">
            <strong>Not Logged In to Github!</strong>
            You must log in to github before creating, editing, or deleting bulk metadata ingests and updates.
        </div>
        <button id="github-login">Log in to Github Account</button>

    <% end %>

</div>
