
<button id="playlist-toggle" style="display:none; background:transparent; border:none;color:lightgray; right:0px;top:0px;margin-right:10px;width:35px;position:absolute;" class="mejs__button" onclick="jQuery('.hls_media').toggleClass('playlist_hidden').toggleClass('playlist_shown')">▲▼</button>

<script>
 $( window ).load(function(){
     toggleButton = $('button#playlist-toggle');
     toggleButton.appendTo('.mejs__playlist-current');
     toggleButton.show();
 })
</script>

<audio controls="controls"
       class="hls_media playlist playlist_shown"
       preload="auto">
    <% @presenter.lecture_files.each do |lecture| %>
        <source src="<%= hyrax.download_path(SolrDocument.find(lecture[:id]), file: 'mp3') %>" title="<%= lecture[:title]%>" type="audio/mpeg" />
    <%end %>
        Your browser does not support the audio tag.
</audio>
