
<button id="playlist-toggle" style="display:none; background:transparent; border:none;color:lightgray; right:0px;top:0px;margin-right:10px;width:35px;position:absolute;" class="mejs__button" onclick="jQuery('.hls_media').toggleClass('playlist_hidden').toggleClass('playlist_shown')">▲▼</button>

<script>
 $( window ).load(function(){
     toggleButton = $('button#playlist-toggle');
     toggleButton.appendTo('.mejs__playlist-current');
     toggleButton.show();
 })
</script>

<audio controls="controls"
       class="hls_media mejs__player playlist_shown"
       preload="auto"
       data-mejsoptions='{"pluginPath": "/mejs/",
                         "alwaysShowControls": "true",
                         "audioWidth": "100%",
                         "showPlaylist": true,
                         "autoClosePlaylist": true,
                         "currentMessage": "now playing: ",
                         "features": ["playpause", 
                                      "current", 
                                      "progress", 
                                      "duration", 
                                      "tracks", 
                                      "volume", 
                                      "fullscreen",
                                      "playlist",
                                      "prevtrack", 
                                      "nexttrack", 
                                      "shuffle", 
                                      "loop"]}'>
    <% file_set_ids.each do |file_set_id| %>
        <source src="<%= File.join(request.base_url,"file_set",file_set_id[:id],"hls.m3u8") %>" title="<%= file_set_id[:title]%>" type="application/x-mpegurl"
/>
    <%end %>
        Your browser does not support the audio tag.
</audio>
