<div class="col-sm-8">
  <div class="metadata">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
        <div class="row metadata-row">
          <div class="col-sm-5">
            <%= render_index_field_label document, field: field_name %>
          </div>
          <div class="col-sm-7">
            <%= doc_presenter.field_value field_name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
