<%#= Customized from Hyrax 2.9.0 
     # Completely rewritten. We structure our search results differently in this context. %>
<h2>
    <%= link_to document.title_or_label, document %>
    <%= document.date_created.first if document.human_readable_type == "Course" and !document.date_created.empty?%>
</h2>
<h3>
    <%= document.parent_course.title_or_label unless document.parent_course.nil? %>
    <%= "(" + document.parent_course.date_created.first + ")" unless document.parent_course.nil? or document.parent_course.date_created.empty? %>
</h3>
