<%# Customized from Blacklight 6.23.0 %>
<%# Changes pager theme %>
<% if show_pagination? and @response.total_pages > 1 %>
 <div class="row record-padding">
  <div class="col-md-12">
    <div class="pagination">
      <%= paginate @response, :outer_window => 2, :theme => 'ucsc' %>
    </div>
  </div>
 </div>
<% end %>
