<%#= Custom file %>
<%= render 'did_you_mean' %>

<%= render 'constraints' %>

<div id="new-targeted-search" class="row">
    <%= render 'targeted_search_form' %>
</div>

<div class="row">
    <%= render 'sort_and_per_page' %>
</div>


