<h1>Create a Bulk Update</h1>

<p>The first step to creating a bulk update is to group together all the works you want to update into a "Bulk Update Draft". </p>

<a href="bulk_update_drafts/new">
    <button> Create Bulk Update Draft</button>
</a>

<p>If you already have a Bulk Update Draft that you're happy with, select it below to generate a metadata spreadsheet for editing. Make sure you are happy with your draft before you proceed.</p>

<div id="draft-name">
    <label>Draft name:</label>
    <select name="draft_id">
        <%= options_for_select @draft_name_options, @draft_id %>
    </select>

</div>
    
<%= render "update_options"  %>


<button id="create-update">Create Update Now</button>





