<h1>New Bulk Updates</h1>
<p>On this page, you can define groups of works that you want to update in bulk.</p>
<p>Once you click "create update", you will not be able to easily add or remove works from this group. Take your time to make sure you are collecting the right group of works to update. The system will save your group of works here, even if you log out or use a different computer.</p>
<p>You can even name and save multiple groups of works, if you are preparing several different updates. Until you click "create update", no action is taken and these groups are only temporary lists of items.</p>

<div id="group-name">
    <label>Group name:</label>
    <select name="group_name">
        <%= options_for_select @group_name_options, @group_id %>
    </select>
</div>
    
<hr>

<div id="group-list"    
