div#ingest-info {
    display:none;
}

ul#ingest-list {
    list-style:none;
    max-width: 700px;
    
    li {
        position:relative;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        
        div.ingest-actions {
            position:absolute;
            right:0px;
            top: 2em;

            form {
                margin-top:5px;
            }
        }
    }
}

div#bmi-tabs {

    margin-top:15px;

    div.status-stat {
        display:inline;
    }

    div {
        
        span.tab-title {
            font-size: 1.2em;
            line-height: 2em;
            
        }

        span.tab-buttons {
            float: right;
            ul.hideable {
                display:none;
            }
        }

        ul.actions {
//            float:right;
        }

        ul.rows {
//            margin-top:10px;
            margin: 15px auto auto auto;
            padding: 10px 10px 10px 20px;
            list-style:none;
            li {
                background-color: lightgray;
                padding: 5px;
                
                position: relative;

                label {
                    display:inline-block;
                }

                input[type="checkbox"] {
                    float:left;
                    margin-right:10px
                }

                ul.row-details {
                    margin:auto;
                }

                button.dropdown {
                    line-height: 1em;
                    right: 8px;
                    top: 2px;
                    position: absolute;
                }
            }
        }
    }
}
