form#new-bulk-operation {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 3px;                         
    div {
        margin-bottom: 25px;
        p { opacity: 0.8;
            margin: 0}
        input {margin-top: 5px}

    }

}

div#bulk-operation-actions {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    form, div.op-action { margin-bottom: 35px;
                          margin-top: 10px;
                          
                          input {margin-top:5px;
                                 display:block;}
                          #upload-spreadsheet {clear:left}
                          label {float:left;
                                 margin-right: 7px;}
                          
                          p {margin-bottom: 5px;}
                          p.big {font-size: 1.2em}
                        }
    
}


div#update-draft-works {
    max-width: 1200px;
    position: relative;
    height: 450px;
    div#work-list {
        margin-right:0px;
    }
    div#add-works {
        margin-left:0px;
    }
    div.lister {
        border: 1px solid black;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        width: 50%;
        float:left;
        height:100%;
        overflow: scroll;
    }
    
}

form#finalize-draft {
    clear: left;
    input[type=submit] {
        margin: 10px;
        padding: 5px;
        font-size: 1.2em;
        font-weight: 1.1em;
        display: block;
    } 
}


div#github-auth {
    width: 160px;
    float: right;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    img {
        max-width: 80%;
        display: block;
        margin: 5px auto 5px auto;
    }
    p { margin: 5px}
}

div.main-content.maximized {
    max-width: 1300px;
}

div#bulk-ops-header{
    height: 4em;
    div{
        font-size: 2em;
        padding: 5px;
        border-bottom: 1px solid gray
    }
    #gem-header{
        padding-right: 25px;
        float:left;
        background-color: lightgray;
        font-style: italic;
        font-weight: 1.2em;
        border-radius: 10px 0 0 10px;
    }
    #bulk-ops-page-title{
        padding: 5px 100px 5px 50px;
        float:left
    }
}

div#bulk-ops-index-header {
    max-width:700px;
    margin: 20px 0 20px 0;
    button{
        margin-left: 15px;
        font-size: 1.2em
    }
    #bulk-ops-new {
        float:right;
    }
}

ul#operations-index {
    padding-left: 0;
    list-style-type: none;
    li {
        padding-left: 30px;
        max-width: 600px;
        position: relative;
        margin-bottom: 25px;
        input[type='checkbox'] {
            position: absolute;
            left: 0;
            top: 30%;
        }
        div.op-name {
            font-size: 1.5em;
        }
        div.op-summary{
            position: absolute;
            right: 0;
             div{
                 display: inline;
                 margin-right: 15px;
             }
        }
        
    }
}

div.bulk-ops-options  {
    margin-top:30px;
    margin-bottom:30px;
//    div.tooltip {
////        position: relative;
////        display: inline-block;
////        border-bottom: 1px dotted black;
//        p.tooltip-text {
//            visibility: hidden;
//            width: 120px;
//            background-color: black;
//            color: #fff;
//            text-align: center;
//            padding: 5px 0;
//            border-radius: 6px;
//            
//            /* Position the tooltip text*/
//            position: absolute;
//            z-index: 1;
//            bottom: 125%;      
//            left: 50%;         
//            margin-left: -60px;   
//
//
//            /* Fade in tooltip */
//            opacity: 0;
//            transition: opacity 0.3s;
//        }
//    }
//
//    div.tooltip:hover .tooltiptext {
//        visibility: visible;
//        opacity: 1;
//    }
//
    div#choose-fields{
        display:none;
        ul#bulk-ops-field-options {
            max-height: 400px;
            overflow:scroll;
        }
    }

    ul#notifications, div#add-new-notification{
        margin-left:30px;
    }
}

input#create-operation[type="submit"] {
    font-size: 1.3em;
    padding: 5px;
    margin: 10px;
}

div.github-message {
    margin-top:15px;
    div#show-git-message {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 10px;
    }
    #git-message-div {
        margin-bottom: 10px;
    }
}

.show-with-results{ display:none;}

ul#search-sample, ul#proxy-list{
    list-style:none;
    li {
        margin: 10px;
        max-height: 150px;
        img{ 
            height: 100%;
            max-height: 150px;
        }
        div.work-meta{
            display:inline-block;
        }
    }
}

ul#ignored-columns {
    clear:left;
    list-style:none;
    input {
        display: inline !important;
    }
    button {
        vertical-align: middle;
    }
}

form#new-bulk-op {
    div.bulk-ops-options.options-panel {
        display:none;
    }
}

a.bulk-ops-collapse-link {
    font-size:1.2em;
    margin-top:15px;
    margin-bottom: 15px;
}

div#edit-options > div > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#search-summary {
    border: 1px dotted gray;
    border-radius: 10px;
    padding: 10px;
    display:none;
}

p#count {
    margin: 20px;
    font-size: 1.2em;
}

hr.bulk-ops {
    border-top: 1px dotted gray;
}
