$ucsc-blue: #00458c;
$ucsc-lightblue: #326aa3;
$ucsc-gold: #ffd700;
$ucsc-footer-back:#c1c1c1;
$ucsc-footer-color:#6e6e6e;
$header-height: 40px;

body {

    div.autosuggest ul {
        padding-left:0px;
    }

    .input-group {
        select.vocab_select.form-control{
            margin-right: 5px;
            display: none;
            width: 23%;
            display: table-cell;
        }
        div.select2-container.autosuggest{
            width:75%
        }
//        input.string.controlled_vocabulary.form-control {
//            
//        }
        input.ui-autocomplete-input.form-control { 
            width: 100%;
        }
    }

    img.primary-media {
        max-width: 100%
    }

    .hls_media.playlist_hidden {
        margin-top:45px;
        min-height: auto !important;
    }

//    padding-top:0px !important;

    nav#masthead {
//        position:relative;
//        display:block;
    }


    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    a:hover {
        color: lighten($ucsc-blue,40%)
    }


    .image-masthead nav.navbar {
        background-color: $ucsc-lightblue;
        ul.navbar-nav li > a {
            color:$ucsc-gold;
        }
    }
    nav.navbar-default {
        background-color: $ucsc-lightblue;
        ul.navbar-nav li > a {
            color:$ucsc-gold;
        }
    }

    footer div.container-fluid {
        background-color:$ucsc-footer-back;
        div.navbar-text {
            color:$ucsc-footer-color;
            a.navbar-link {
                color: darken($ucsc-footer-color,20%);
            }
        }
    }

}

nav#masthead {
    color: $ucsc-blue;
    min-height: $header-height;
    background-color: white;

    div.navbar-header a#logo {
        padding-top:5px;
        
        span#icon-ucsc:before {
            content: image-url('ucsc-logo.jpg');
        }
        
        span.institution_name {
            color: $ucsc-blue;
            position: relative;
            font-weight:bold;
            font-size:1.1em;
            top: -40%;
        }
    }
    
    ul.nav.navbar-nav {
        li > a {
            color:$ucsc-blue;
        }    

        li.open > a {
            color:$ucsc-blue;
        }  
    }

    .navbar-header {
        min-height:$header-height;
    }

    .navbar-nav > .open > a {
        background-color:darken(white,10%);
        color:darken($ucsc-blue,10%)
    }

    ul#user_utility_links li {
        min-width:135px;
    }
    
}

.related-files td.thumbnail.small-thumb {
    width: 60px;
    margin-bottom:0px;
    padding:0;
}
