$ucsc-blue: #00458c;
$ucsc-lightblue: #326aa3;
$ucsc-gold: #ffd700;
$ucsc-footer-back:#c1c1c1;
$ucsc-footer-color:#6e6e6e;
$header-height: 40px;

body.dashboard div#bulk-review-buttons {
    min-height: 50px;
    div#selections {
        float:left;
    }
    div#actions {
        float:right;
    }
}

body {

    div#documents.gallery {
        clear:left;
        .document {
            min-width: 230px;
            -webkit-flex: 1 0 230px;
            padding-left: 8px;
            padding-right: 8px;
            .thumbnail {
                border: none;
                .caption {
                    padding: 0;
                    dl.document-metadata.dl-horizontal.dl-invert {
                        display:none;
                    }
                    .documentHeader .index-document-functions {
                        display: none;
                    }
                }
            }
        }
    }

    
    p#splash-message {
        font-size: 1.2em;
        max-width: 600px;
        margin: auto auto 40px auto;
        text-align-last: center;
    }

    div.autosuggest ul {
        padding-left:0px;
    }

    #documents .document {
        max-width: 34%;
    }

    .input-group {
        select.vocab_select.form-control{
            margin-right: 5px;
            display: none;
            width: 23%;
            display: table-cell;
        }
        div.select2-container.autosuggest{
            width:75%
        }
        //        input.string.controlled_vocabulary.form-control {
        //            
        //        }
        input.ui-autocomplete-input.form-control { 
            width: 100%;
        }
    }

    .mejs__playlist-selected, .mejs-playlist-selected {
        background-color: #FECB45;
    }

    .mejs__playlist-selector-list-item, .mejs-playlist-selector-list-item {
        background-color: #ddd;
    }

    .mejs__playlist-selector-list, .mejs-playlist-selector-list {
        color: black;
        border: 1px solid #7A7A7A;
    }

    ol#featured_collections {
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
    }

    .home-content ol .featured-item div.col-sm-3 a {
        float: right;
    }

    img.primary-media {
        max-width: 100%
    }

    //    padding-top:0px !important;

    nav#masthead {
        //        position:relative;
        //        display:block;
    }


    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    a:hover {
        color: lighten($ucsc-blue,40%)
    }


    .image-masthead nav.navbar {
        background-color: $ucsc-lightblue;
        ul.navbar-nav li > a {
            color:$ucsc-gold;
        }
    }
    nav.navbar-default {
        background-color: $ucsc-lightblue;
        ul.navbar-nav li > a {
            color:$ucsc-gold;
        }
    }
    
    div.form-group.multi_controlled_vocabulary {
        ul {
            padding-left: 5px;
            li {
                width: 100%;
                label {
                    font-weight: 400;
                }
                div.auth-select-div {
                    padding-right: 10px;
                    max-width: 40%;
                    line-height: 0;
                    float: left;
                }
                input.multi_controlled_vocabulary {
                    width: 60%;
                }
            }
        }
    }
    
    li.document {
        h2 {
            clear:left;
        }
        div.list-thumbnail {
            margin-bottom: 20px;
        }
        .metadata {
            max-height: 185px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    footer {
        margin-top:20px;
        div.container-fluid {
            background-color:$ucsc-footer-back;
            div.navbar-text {
                color:$ucsc-footer-color;
                a.navbar-link {
                    color: darken($ucsc-footer-color,20%);
                }
            }            
        }
    }
}

nav#masthead {
    color: $ucsc-blue;
    min-height: $header-height;
    background-color: white;

    div.navbar-header a#logo {
        padding-top:5px;
        
        span#icon-ucsc:before {
            content: image-url('ucsc-logo.jpg');
        }
        
        span.institution_name {
            color: $ucsc-blue;
            position: relative;
            font-weight:bold;
            font-size:1.1em;
            top: -40%;
        }
    }
    
    ul.nav.navbar-nav {
        li > a {
            color:$ucsc-blue;
        }    

        li.open > a {
            color:$ucsc-blue;
        }  
    }

    .navbar-header {
        min-height:$header-height;
    }

    .navbar-nav > .open > a {
        background-color:darken(white,10%);
        color:darken($ucsc-blue,10%)
    }

    ul#user_utility_links li {
        min-width:135px;
    }
    
}

.related-files td.thumbnail.small-thumb {
    width: 60px;
    margin-bottom:0px;
    padding:0;
}
