@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-1: 'Source Sans Pro', sans-serif;
$font-2: 'Roboto', sans-serif;

$ucsc-blue: #00457c;
$ucsc-lightblue: #02779e;
$ucsc-gold: #ffd700;
$header-height: 40px;
$screen-xs: 480px;
$screen-sm: 768px;

body.dashboard div#bulk-review-buttons {
    min-height: 50px;
    div#selections {
        float:left;
    }
    div#actions {
        float:right;
    }
}

body {

    background-color: white;
    font-family: $font-1;

    a:hover {
        color: lighten($ucsc-blue,40%)
    }

    div#documents.gallery {
        clear:left;
        .document {
            min-width: 230px;
            -webkit-flex: 1 0 230px;
            padding-left: 8px;
            padding-right: 8px;
            .thumbnail {
                border: none;
                .caption {
                    padding: 0;
                    dl.document-metadata.dl-horizontal.dl-invert {
                        display:none;
                    }
                    .documentHeader .index-document-functions {
                        display: none;
                    }
                }
            }
        }
    }
    
    p#splash-message {
        font-size: 1.2em;
        max-width: 600px;
        margin: auto auto 40px auto;
        text-align-last: center;
    }

    div.autosuggest ul {
        padding-left:0px;
    }

    #documents .document {
        max-width: 34%;
    }

    .input-group {
        select.vocab_select.form-control{
            margin-right: 5px;
            display: none;
            width: 23%;
            display: table-cell;
        }
        div.select2-container.autosuggest{
            width:75%
        }
        //        input.string.controlled_vocabulary.form-control {
        //            
        //        }
        input.ui-autocomplete-input.form-control { 
            width: 100%;
        }
    }

    .mejs__playlist-selected, .mejs-playlist-selected {
        background-color: #FECB45;
    }

    .mejs__playlist-selector-list-item, .mejs-playlist-selector-list-item {
        background-color: #ddd;
    }

    .mejs__playlist-selector-list, .mejs-playlist-selector-list {
        color: black;
        border: 1px solid #7A7A7A;
    }

    li.featured-item img {
        width: 250px;
    }

    li.featured-collection img {
        width: 250px;
    }

    ol#featured_collections {
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
    }

    .home-content ol .featured-item div.col-sm-3 a {
        float: right;
    }

    img.primary-media {
        max-width: 100%
    }

    img.primary-media.raw-image {
        max-height: 600px;
    }

    label#primary-image-label {
        display: block;
        margin: 2px 0 10px 10px;
        font-size: 0.9em;
        font-style: italic;
    }

    div#appliedParams.constraints-container {
        margin-bottom: 5px;
    }

    div#new-targeted-search.row {
        margin-bottom: 20px
    }
    
    div.form-group.textbox_autosuggest {

        ul.listing {
            padding-left: 5px;
            list-style: none;

            li.field-wrapper {
                position:relative;
                margin-top:20px;
                width: 100%;

                label {
                    font-weight: 400;
                }

                div.select2-container.controlled_vocabulary {
                    max-width: 65%
                }

                div.auth-select-div {
                    max-width:25%;
                    text-align:center;
                    padding-top:5px;
                    padding-right: 10px;
                    line-height: 0;
                    float: left;
                }
                input.textbox_autosuggest[data-persisted=false] {
                    width: 60%;
                    
                }

                input.textbox_autosuggest.selected {
                    width: 85%;
                    
                }
                input.textbox_autosuggest[data-persisted=true] {
                    width: 85%;
                    display: inline;
                }

                button.remove {
                    //                    position: absolute;
                    //                   right: 0;
                    //                   top: 0.2em;
                }
                .glyphicon {
                    top: 0.5em;
                    left: 7px;
                }
            }
        }
    }  
    div.form-group.controlled_dropdown {

        ul.listing {
            padding-left: 5px;
            list-style: none;

            li.field-wrapper {
                position:relative;
                margin-top:20px;

                label {
                    font-weight: 400;
                }
                select {
                    width: auto;
                }
            }
        }
    }
    
    li.document {
        h2 {
            clear:left;
        }
        div.list-thumbnail {
            margin-bottom: 20px;
        }
        .metadata {
            max-height: 185px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    
    div#extended-terms {
        margin-top: 30px;
    }
}

/* Header */
#masthead {
    color: #fff;
    background-color: $ucsc-blue;
    border-bottom: none;

    #ucsc-logo {
        content: image-url('ucsc-logo-white.png');
        padding: 0;
    }

    #university-library {
        display: inline-block;
        padding: 10px 0 0 20px;
        font-family: $font-2;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        &:hover {
            text-decoration: none;
        }
        @media (min-width: $screen-xs) {
            font-size: 26px;
            padding-top: 6px;
        }
        @media (min-width: $screen-sm) {
            font-size: 30px;
        }
    }

    /* Main menu */
    #top-navbar-collapse {
        background-color: $ucsc-blue;
        border-top: none;
        font-size: 16px;
        font-weight: bold;
        li {
            text-align: right;
        }
        @media (min-width: $screen-sm) {
            li {
                float: right;
            }
            li a::after {
                content: "• ";
                color: #f2cc38;
                position: relative;
                left: 16px;
            }
            li.first a::after {
                content: '';
            }
        }
    }

    /* Logged in user menu */
    .navbar-user {
        background-color: black;
    }
    #user_utility_links {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        > li {
            float: left !important;
        }
        a {
            padding: 10px;
        }
        .dropdown-menu {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            a {
                color: #333333;
                &:hover {
                    background-color: #f5f5f5;
                }
            }
            .divider {
                color: #e5e5e5;
            }
        }
    }
}
/* Site title and search */
#digital-collections {
    background-color: $ucsc-lightblue;
    .control-label {
        display: none;
    }
    span a {
        font-family: $font-2 ;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        &:hover {
           text-decoration: none;
        }
    }
    .navbar-toggle {
        margin: 0;
        padding: 14px 0;
        border: none;
        color: #fff;
        font-weight: bold;
        &:hover {
            cursor: pointer;
            background-color: inherit;
            color: #ccc;
        }
    }
    #search-form-header {
        border-top: none;
        position: relative;
        right: 82vw;
        width: 94vw;
    }
    @media (min-width: $screen-sm) {
        span a {
            font-size: 42px;
        }
        .searchbar-right {
            position: relative;
            top: 35px;
            right: 10px;
        }
        #search-form-header {
            position: static;
            width: auto;
        }
    }
    @media (min-width: 1155px) {
        .searchbar-right {
            top: 5px;
        }
    }
    @media (max-width: 533px) {
        .navbar-toggle {
            font-size: 12px;
        }
    }
    @media (max-width: 483px) {
        .navbar-toggle {
            font-size: 10px;
        }
        #search-form-header {
            margin-top: 95px;
        }
    }
}


/* Footer */
footer {
    font-family: $font-2;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $ucsc-blue;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        padding-bottom: 5px;
    }
    /* Move login link to bottom on mobile */
    @media (max-width: $screen-sm) {
        ul {
            margin-top: 20px;
        }
        .last ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            li {
                flex-width: 100%;
                order: 1;
                &:first-child {
                    order: 2;
                    margin-top: 20px;
                }

            }
        }
    }
}

div.uv.viewer iframe {
    // This fixes display problem that occurs when
    // downsizing maximized viewer after clicking 'full screen' then 'esc'
    max-width: 100%;
    max-height: 100%;
}

.related-files td.thumbnail.small-thumb {
    width: 60px;
    margin-bottom:0px;
    padding:0;
}

/* Single work page */
#display-work-img {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 20px 0;
    text-align: center;
    background-color: #000;
    position: relative;
    .glyph-wrap {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    .glyphicon {
        float: left;
        margin-right:20px;
        color: #fff;
        font-size: 200%;
    }
}

/* Works page metadata */
h2.metadata {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
table.work.attributes {
    th {
        width: 165px;
        text-align: right;
        color: #838282;
        &:after {
            content: ':';
        }
    }
    th.fix-colon:after {
        content: '';
    }
    ul {
        margin: 5px 0 5px 15px;
    }
}
#show-more-metadata,
#hide-more-metadata {
    display:inline-block;
    margin: 25px 0 0 180px;
    &:hover {
        cursor: pointer;
    }
}

/* Download, Share, and Cite buttons */
#download-share-cite {
    margin-top: 30px;
    button {
        float: left;
        margin-right: 10px;
        &:hover {
            background-color: $ucsc-lightblue;
        }
    }
}
.btn-citation span.h1 {
    margin: 0 8px 0 0;
    line-height: 20px;
    position: relative;
    float: left;
    top: 7px;
}

#primary-audio-div {
    width:100vw;
    margin-left:calc(50% - 50vw);
    padding:20px 0;
    text-align:center;
    background-color:#f5f5f5;
    position:relative;
    
    #mep-container {
        width: 450px;
        margin-left: auto;
        display: inline-block;
        margin-right: 2%;
        vertical-align: top;
    }

    .mejs__container.hls_media {min-width: auto !important}

    #track-list{ 
        max-width: 600px;
        width: 60%;
        display: inline-block;
        margin-left: 3%;
        position: relative;
        text-align: left;        
        p, .active {
            font-weight: 700;
        }
        .av_playlist_link {
            margin-left: 25px;
            line-height: 2em;
        }
        .glyphicon {
            float:left;
            top: 5px;
        }
        
    }
}

/* Modals */
.modal .modal-body {
    .modal-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h5 {
        font-weight: bold;
    }
    .close {
        padding: 2px 3px 3px 3px;
        border: solid 1px #fff;
        border-radius: 50%;
        color: #5f98f7;
        background-color: #f3f9ff;
        opacity: 1;
        &:hover {
            color: #f3f9ff;
            background-color: #5f98f7;
        }
    }
}

#downloadWork {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
}
#citeWork {
    .citation {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
        > span {
            flex: 2 1 auto;
        }
    }
}
