<a id="ucsc-logo" class="navbar-brand" href="https://www.ucsc.edu">
  <span class="sr-only">UC Santa Cruz</span>
</a>
<a id="university-library" href="https://library.ucsc.edu"><span>University Library</span></a>
