<%#= Customized from Hyrax 2.9.0 
   # restructured file to display user links differently%>
<header>
  <nav id="masthead" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <%# render user links conditionally at the top instead of always at the end of the first row %>
    <% if user_signed_in? %>
      <%= render '/user_util_links' %>
    <% end %>

    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= render '/logo' %>
      </div>

      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <%# Hyrax displays user links here. Instead we display navigation links %>
        <ul class="nav navbar-nav navbar-right">
          <li class="first"><a href="#" data-toggle="modal" data-target="#feedbackModal">Contact Us</a></li>
          <li><a href="/collections">Browse Collections</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
