<%#= Custom file %> 
<div id="off-campus-access-notice">
  <p>You must be on the UC Santa Cruz campus or logged into campus VPN to access this item.</p>
  <a href="https://guides.library.ucsc.edu/cabrillo-music-festival" class="btn btn-primary">Learn More</a>
</div>
