<%#= Customized from Hyrax 2.4.0, line 6 and 20
  #  render_edit_field_partial() is now
  #  render_edit_field_partial_ucsc() %>
<div class="base-terms">
    <% f.object.primary_terms.each do |term| %>
        <%= render_edit_field_partial_ucsc(term, f: f) %>
    <% end %>
</div>
<% if f.object.display_additional_fields? %>
    <%= link_to t('hyrax.works.form.additional_fields'),
        '#extended-terms',
        class: 'btn btn-default additional-fields',
            data: { toggle: 'collapse' },
            role: "button",
            'aria-expanded'=> "false",
            'aria-controls'=> "extended-terms" %>
    <div id="extended-terms" class='collapse'>
        <%= render 'form_media', f: f %>
        <% f.object.secondary_terms.each do |term| %>
            <%= render_edit_field_partial_ucsc(term, f: f) %>
        <% end %>
    </div>
<% end %>
