<%# Download %>
<div class="modal fade" id="downloadWork" tabindex="-1" role="dialog" aria-labelledby="downloadLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="downloadLabel">Download</h4>
        <h5>Rights Information:</h5>
        <p><%= presenter.solr_document.rightsStatement.first %></p>
        <ul>
          <li><a href="<%= Hyrax.config.iiif_image_url_builder.call(@presenter.representative_id,"nil","250,") %>">Download Small (250px)</a></li>
          <li><a href="<%= Hyrax.config.iiif_image_url_builder.call(@presenter.representative_id,"nil","1000,") %>">Download Large (1000px)</a></li>
<!--
          <li><a href="">Download Small (250px) + Citation (Zip File)</a></li>
          <li><a href="">Download Large (1000px) + Citation (Zip File)</a></li>
-->
        </ul>
      </div>
    </div>
  </div>
</div>
